.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* New Code Started from here */

.product-list{
  display: inline-block;
  margin: 2%;
}

button{
  cursor: pointer;
}
.shop-cart{
  color:white;
  margin-top: 20%;
  position: relative;
  top: 8px;
  font-size: 40px;
  cursor: pointer;
}
#cart-count{
  position: relative;
  right: 18px;
  bottom:5px;
  background-color: white;
  padding: 12%;
  font-size: 20px;
  border-radius: 50%;
 margin-top: 6%;;
 margin-bottom: 6%;
 cursor: pointer;
}

span{
  display: flex;
  justify-content: left;
  font-size: 20px;
}
.review-container{
  margin-left: 20%;
}


